.login-container {
  background-color: #242424;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  gap: 10px;
}
.login-container h1 {
  font-size: 30px;
  font-weight: 500;
  color: white;
}
.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
:focus {
  outline: none;
}
form input {
  padding: 15px;
  width: 250px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  font-size: 16px;
  border: none;
  background-color: #242424;
  border-bottom: 2px solid white;
}
form button {
  padding: 12px;
  width: 100px;
  border-radius: 15px;
  border: none;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 15px;
  transition: all 0.5s;
  cursor: pointer;
}
form button:hover {
  background-color: #b8b8b8;
}
.button-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.button-section a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  transition: all 0.24s;
}
.button-section a:hover {
  text-decoration: underline;
  opacity: 0.8;
}
